<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name= "QueryConnectionString"
      providerName="System.Data.SqlClient"
      connectionString="Data Source=(localdb)\MyInstance;Initial Catalog=MyDatabase;Integrated Security=SSPI;"
    />
    <add name= "PeopleConnectionString"
      providerName="System.Data.SqlClient"
      connectionString="Data Source=(localdb)\MyInstance;Initial Catalog=MyPeople;Integrated Security=SSPI;"
    />
    <add name= "XmlConnectionString"
      providerName="System.Data.SqlClient"
      connectionString="Data Source=(localdb)\MyInstance;Initial Catalog=MyXml;Integrated Security=SSPI;"
    />
    <add name= "OrgConnectionString"
      providerName="System.Data.SqlClient"
      connectionString="Data Source=(localdb)\MyInstance;Initial Catalog=organisation;Integrated Security=SSPI;"
    />
  </connectionStrings>
</configuration>
