<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name= "QueryConnectionString"
      providerName="System.Data.SqlClient"
      connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=FCQ-Simple;Integrated Security=SSPI;"
    />
    <add name= "PeopleConnectionString"
      providerName="System.Data.SqlClient"
      connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=FCQ-People;Integrated Security=SSPI;"
    />
    <add name= "XmlConnectionString"
      providerName="System.Data.SqlClient"
      connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=FCQ-Xml;Integrated Security=SSPI;"
    />
    <add name= "OrgConnectionString"
      providerName="System.Data.SqlClient"
      connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=FCQ-Org;Integrated Security=SSPI;"
    />
    <add name= "TPCHConnectionString"
      providerName="System.Data.SqlClient"
      connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=FCQ-TPCH;Integrated Security=SSPI;"
    />
  </connectionStrings>
</configuration>
